/* .App {
  text-align: center;

} */

html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerCont {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #80e5fb; 
  color: white; 
}
.forum-container{
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* background-image: url('../public/background1.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; 
  position: relative; 
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0.7;

}

.forum-list{
  margin-top: -100px;
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
  border-radius: 8px; 
  padding: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.logo {
  max-width: 600px; 
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_f_b {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.headerback{
  width: cover;
}
.header-link {
  background-color: #b1aeae; 
  padding: 15px; 
  border-radius: 15px;
  color: #ffffff;   
  text-decoration: none; 
  display: inline-block; 
  margin: 5px; 
}

.header-link:hover {
  background-color: #f7f1f1; 
}

.link {
  text-decoration: none;
}

.mainPageItemsContainer {
  margin-top: 30px;
  display: flex;
  flex: 1;
  justify-content: space-around; 
}

.category-column {
  flex: 0 0 calc(33.333% - 20px); /* Adjust the width as needed */
  margin: 0 10px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #b33e3e;
}


.button-image {
  width: 50px; 
  height: auto; 
  transition: transform 0.3s; 
}

.full-height-page {
  min-height: 70vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.full-width-page {
  max-width: 300px; /* Adjust as needed */
  padding: 0px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
.home {
  position: relative;
  height: 90vh;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Add this line to center text */
  height: 100vh;
}

.display-3,
.display-6 {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.application-card {
  width: 300px; 
  margin: 0 10px 20px;
}