/* Reset default styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base styling for the entire app */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header container styling */
.headerCont {
  display: flex;
  align-items: center;
  height: 240px;
  /* padding: 20px; */
  background-color: #e3e1e1;
  color: white;
  /* margin-bottom: 20px; */
}

/* Forum container styling */
.forum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/ME.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  width: 100%;
  height: 10  0vh;
  z-index: 1;
  opacity: 0.7;
}

/* Forum list styling */
.forum-list {
  margin-top: -100px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}



/* Navbar styling */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 220px;
  margin-bottom: 20px;
}

/* Floating the right-aligned items to the right */
.nav_f_b {
  display: flex;
  align-items: left;
  width: 50%;
  margin-left: 150px;
  margin-right: 20px; /* Adjust this value to move the right-aligned items to the left */
}


/* Styling for links in header */
.header-link {
  background-color: #b1aeae;
  padding: 15px;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  margin-right: 20px; /* Adjust this value to increase space between buttons */
}

.header-link:hover {
  background-color: #f7f1f1;
}

/* Main page items container styling */
.mainPageItemsContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

/* Card item styling */
.card-item {
  display: flex;
  flex-direction: column;
  justify-content: right; /* Check if you really need this */
}

/* Category column styling */
.category-column {
  flex: 0 0 calc(33.333% - 20px);
  margin: 0 10px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: -40px;
  color: #b33e3e;
}


.mainContainer{
  align-content: center;
}
/* Full-width page styling */
.full-width-page {
  max-width: 300px;
  padding: 0px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Full-height page styling */
.full-height-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

/* Footer pin styling */
.footer-pin {
  margin-top: auto;
}

/* Home section styling */
.home {
  position: relative;
  background-image: url('../public/ME.jpeg');
  background-repeat: no-repeat;
  background-size: 50vh;
  background-position: left;
  background-position-x: 10%;
  width: 100%;
  z-index: 1;
  height: 70vh; /* Make sure the home section covers the entire viewport */
}

/* About container styling */
/* About.css */
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-top: 50px;
}

.aboutContent {
  max-width: 700px;
  text-align: center;
  padding: 20px;
}

.display-4 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.display-5 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.display-7 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  justify-content: left;
}

.techSKillsBox{
  margin-left: 50px;
}
.display-8 {
  margin-left: 40px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  width: 200px;
  justify-content: left;
font-weight: 800;
text-decoration: underline;
border: #333;
border-radius: 20px;
  /* align-items: left; */
}

.hover-zoom{
  width: 18rem;
  height: 100;
}
.hover-zoom:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Card container styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 90px;
}

/* Application card styling */
.application-card {
  width: 300px;
  /* margin: 0 10px 20px; */
  /* Add more styles as needed */
}

.button-image:hover {
  transform: "scale(1.1)";
  transition: "transform 0.3s ease-in-out";
}
/* Add more specific styling rules as needed for different components */
